.hellow-content-left_aside-friends-button {
  width: 92px;
  height: 22px;
  color: #fff;
  font-family: 'Calibri';
  font-size: 12.5px;
  background-image: linear-gradient(to bottom, #ECECEC, #DDDDDD);
  border: 1px solid #DDDDDD;
  position: relative;
  bottom: 5px;
}

.hellow-content-left_aside-friends-button:hover {
  cursor: pointer;
  background: #fff;
  color: #DDDDDD;
}