.hellow-content-left_aside {
  width: 150px;
  box-sizing: border-box;
  padding-left: 30px;
}

@media only screen and (max-width: 694px) {
  .hellow-content-left_aside {
    order: 1;
    width: 150px;
  }
}