.hellow-top-friends-content {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.hellow-top-friends-content-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 2px;
}

.hellow-top-friends-content-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}