.check-label {
  position: relative;
}

.register-form-radio {
	position: absolute;
	appearance: none;
}

.check__box {
  position: absolute;
	width: 18px;
	height: 18px;
  background-image: url('./images/radio.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.1s;
}

/* Checked */

.register-form-radio:checked + .check__box {
	background-image: url('./images/radio-checked.png');
  background-repeat: no-repeat;
}

.register-form-radio-text {
  display: inline-block;
  margin-top: 3px;
  margin-left: 26px;
}