.hellow-top-post-button {
  color: #fff;
  font-family: 'Calibri', sans-serif;
  font-size: 11.94px;
  padding: 4px 14px;
  border-radius: 6px;
  border: 1px solid #000;
  align-self: flex-end;
  background-size: 300%;
  background-position: 0 0;
  background-image: linear-gradient( to right,#365089, #A6C0F9, #112B64);
}

.hellow-top-post-button:hover {
  cursor: pointer;
  background-position: 100% 0;
}